extends ../layout/main

block variables
  - var title = 'Главная страница'
  - var indexPage = true

block content
  button(onclick="loadPhones()") Загрузить номера
  p#phone

  button(onclick="getScroll();") Scroll

  form(name="user" method="post" action="" onsubmit="createUser(); return false;")
    label(for="title") title:
    input#name(type="text" name="title" placeholder="Title")

    label(for="body") body:
    input#body(type="text" name="body" placeholder="body")

    label(for="userId") userId:
    input#userId(type="text" name="userId" placeholder="userId")

    button(type="submit") Create

  form(name="upload")
    input(type="file" name="myfile")
    input(type="submit" value="Загузить")

  div#log Прогресс загрузки

  
  form(id="publish" name="publish")
    input(type="text" name="message")
    input(type="submit" action="/" value="Отправить" onclick="myForm(); return false;")

  div#subscribe

  select(name="users" onchange="showUser(this.value)")
    option(value="") Выбрать пользователя
    option(value="user1") Данила
    option(value="user2") Валера
    option(value="user3") Иван

  div#users

  div#mydom
  
  p Tag name

  p.mycolor My color 1
  p.mycolor My color 2
  p.mycolor My color 3

  div#dno
    p.mycolor My title
    p.mycolor My title

  div.box
    div
      input(type="checkbox")
      | Box 1
    div
      input(type="checkbox")
      | Box 2
    div
      input(type="checkbox")
      | Box 3
    button(onclick='changeColor()') Change

  div#content
    h2
    ul
      li Text 1
      li Text 2
      li Text 3

  button.hello Hello

  div#for

  button.mydom(onclick="getAttributes()") Attributes

  div.block Block
  button.set-block(onclick="setAttributes()") SetAttributes

  button.calc Calc

  a.danila Danila

  img(src="img/ruby.png" alt="ruby" width="64" height="64")

  button#btn Try it
  button#event Event

  br

  ul#item-list

  button#add-list Add list

  h2 Задачи выполненые
  ul#tasks-successfully
    li.task-1 Купить бетон
    li.task-2 Построить дом

  button#btn-successfully Перенести задачу в не выполненые


  h2 Задачи не выполненые
  ul#tasks-not-successfully
    li.task-3 Залить фундамент
    
  button#btn-not-successfully Перенести задачу в выполненые

  
  div.block
  button#toggle(onclick="myToggle()") Toggle

  p#class-list.red.border Class list

  ul#list
    li coffee
    li#tea_1 tea
  ul#none-list

  p.myclass Myclass

  div.html
  div.css

  p#normalize Normalize:

  p#attribute.red Attribute

  ul#rep
    li Car
    li Phone
    li PC

  div#scroll

  

  



