@import "libs.scss";

.block {
  width: 100px;
  height: 50px;
  background: red;
  padding: 5px;
  text-align: center;
  color: white;
}

.newblock {
  @extend .block;
  background: blue;
}

.red {
  color: red;
}

.no-style {
  list-style: none;
}

.border {
  border: 1px solid black;
}


.padding {
  padding: 5px;
}

.background {
  background: blue;
}

#scrol-content {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  overflow: scroll;
}

.droptarget {
  float: left; 
  width: 100px; 
  height: 50px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.animation{
  margin: 25px;
  width: 200px;
  height: 50px;
  background: orange;
  position: relative;
  font-size: 20px;
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

.anchor {
  height: 2000px;
  display: table;
}

.anchor-home {
  display: table-cell;
  vertical-align: bottom;
}









