@import "libs.scss";

.block {
  width: 100px;
  height: 50px;
  background: red;
  padding: 5px;
  text-align: center;
  color: white;
}

.newblock {
  @extend .block;
  background: blue;
}

.red {
  color: red;
}

.no-style {
  list-style: none;
}

.border {
  border: 1px solid black;
}


.padding {
  padding: 5px;
}

.background {
  background: blue;
}



